build
.tmp/
inspirations/
releases/
.vscode
.DS_Store
autosave.cnm
devfile.yaml
settings.txt
/test_tools
/font-generator/font_preview.png
/font-generator/generate
/font-generator/fonts
/output/
/website/hugo/public/
/website/hugo/resources/_gen/
libchipnomad.so
tracker/platforms/android/app/src/main/assets/chipnomad_data
rg_log.txt
chipnomad_log.txt
