<footer class="site-footer h-card">
  <div class="home">
    <div class="footer-wrapper">
      <div class="footer-row">
        <div class="social-buttons">
          <a href="https://discord.gg/PJarAn2QCW">
            <img src="/img/social-icons/discord.svg" alt="Discord" />
          </a>
          <a href="https://www.youtube.com/@chipnomad-tracker">
            <img src="/img/social-icons/youtube.svg" alt="YouTube" />
          </a>
          <a href="https://github.com/Megus/chipnomad-tracker">
            <img src="/img/social-icons/github.svg" alt="GitHub" />
          </a>
        </div>
      </div>
      <div class="footer-row">
        © 2025–2026 <a href="https://megus.org">Megus</a><br />
        ChipNomad logo by <a href="https://linktr.ee/scjreal">SCJ</a><br />
      </div>
    </div>
  </div>
</footer>