<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>chipnomad</string>
	<key>CFBundleIdentifier</key>
	<string>com.megus.chipnomad</string>
	<key>CFBundleName</key>
	<string>ChipNomad</string>
	<key>CFBundleDisplayName</key>
	<string>ChipNomad</string>
	<key>CFBundleVersion</key>
	<string>VERSION_PLACEHOLDER</string>
	<key>CFBundleShortVersionString</key>
	<string>VERSION_PLACEHOLDER</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>CFBundleIconFile</key>
	<string>ChipNomad</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cnm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ChipNomad Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
</dict>
</plist>